## <center> Jeodyshan Obra </center>

## <center> IS 362 Project 4 </center>

#### Based on Assignment 13 we were to perform explatory data analysis based on the Mushroom Data set. Below is the Attribute Information:

1. cap-shape: bell=b,conical=c,convex=x,flat=f, knobbed=k,sunken=s
2. cap-surface: fibrous=f,grooves=g,scaly=y,smooth=s
3. cap-color: brown=n,buff=b,cinnamon=c,gray=g,green=r, pink=p,purple=u,red=e,white=w,yellow=y
4. bruises?: bruises=t,no=f
5. odor: almond=a,anise=l,creosote=c,fishy=y,foul=f, musty=m,none=n,pungent=p,spicy=s
6. gill-attachment: attached=a,descending=d,free=f,notched=n
7. gill-spacing: close=c,crowded=w,distant=d
8. gill-size: broad=b,narrow=n
9. gill-color: black=k,brown=n,buff=b,chocolate=h,gray=g, green=r,orange=o,pink=p,purple=u,red=e, white=w,yellow=y
10. stalk-shape: enlarging=e,tapering=t
11. stalk-root: bulbous=b,club=c,cup=u,equal=e, rhizomorphs=z,rooted=r,missing=?
12. stalk-surface-above-ring: fibrous=f,scaly=y,silky=k,smooth=s
13. stalk-surface-below-ring: fibrous=f,scaly=y,silky=k,smooth=s
14. stalk-color-above-ring: brown=n,buff=b,cinnamon=c,gray=g,orange=o, pink=p,red=e,white=w,yellow=y
15. stalk-color-below-ring: brown=n,buff=b,cinnamon=c,gray=g,orange=o, pink=p,red=e,white=w,yellow=y
16. veil-type: partial=p,universal=u
17. veil-color: brown=n,orange=o,white=w,yellow=y
18. ring-number: none=n,one=o,two=t
19. ring-type: cobwebby=c,evanescent=e,flaring=f,large=l, none=n,pendant=p,sheathing=s,zone=z
20. spore-print-color: black=k,brown=n,buff=b,chocolate=h,green=r, orange=o,purple=u,white=w,yellow=y
21. population: abundant=a,clustered=c,numerous=n, scattered=s,several=v,solitary=y
22. habitat: grasses=g,leaves=l,meadows=m,paths=p, urban=u,waste=w,woods=d

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/mushroom/agaricus-lepiota.data'
mushrooms = pd.read_csv(url, usecols = [0,5,18], names = ['Type', 'Odor', 'RingNumber'])
mushrooms.head()

  Type Odor RingNumber
0    p    p          o
1    e    a          o
2    e    l          o
3    p    p          o
4    e    n          o

#### Here we replace the alphabetic letteres into numeric values

In [3]:
mushrooms['Type'].replace({'p': 1,'e': 0}, inplace = True)
mushrooms['Odor'].replace(
    {'a':0,'l':1,'c':2,'y':3,'f':4,'m':5,'n':6,'p':7,'s':8}, inplace = True)
mushrooms['RingNumber'].replace({'n':0, 'o':1, 't': 2}, inplace = True)
mushrooms.head()

   Type  Odor  RingNumber
0     1     7           1
1     0     0           1
2     0     1           1
3     1     7           1
4     0     6           1

#### After converting the numeric values we then use the get_dummies() method which will convert the 'Odor" column into a set of columns. This is so the data can be store in a matrix or dataframe shape.

In [4]:
odor = pd.get_dummies(mushrooms['Odor'])
odor.head()

   0  1  2  3  4  5  6  7  8
0  0  0  0  0  0  0  0  1  0
1  1  0  0  0  0  0  0  0  0
2  0  1  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  1  0
4  0  0  0  0  0  0  1  0  0

#### Here we define the x & y values

In [5]:
X = odor
y = mushrooms.Type

#### With the x & y values defined we then use the  sklearn.cross_validation

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

#### This will train a logistic regression model for the training set

In [7]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

#### This then creates a class prediction for the testing set

In [8]:
y_pred_class = logreg.predict(X_test)

#### With the accuracy score it turns out the Odor score is 0.9867060561299852

In [9]:
from sklearn import metrics
print(metrics.accuracy_score(y_test, y_pred_class))

0.9867060561299852

#### Now lets use Ringnumber for the matrix

In [10]:
rings = pd.get_dummies(mushrooms['RingNumber'])
rings.head()

   0  1  2
0  0  1  0
1  0  1  0
2  0  1  0
3  0  1  0
4  0  1  0

#### Here we define the x & y values

In [12]:
X = rings
y = mushrooms.Type

#### Below we train the testing sets

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

#### Below we again train a logistical regression model into a training set

In [14]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [15]:
y_pred_class = logreg.predict(X_test)

#### We then have the accuracy score of Ring Number which is 0.5312653865091088

In [16]:
print(metrics.accuracy_score(y_test, y_pred_class))

0.5312653865091088

#### Based on the accuracy score of both the Odor and Ring Number. The Ring Number is much lower which is 0.5312653865091088. This shows that the predictor does a poor job whether or not the mushroom is poisonous or not.