# <center> IS 362 Project 1 </center>

In [1]:
import pandas as pd
from pandas import DataFrame
df = pd.read_csv("Project1.csv")

##  Displaying Data

In [2]:
pd.read_csv("Project1.csv")

,Unnamed: 0,City,Alaska_On_Time,Alaska_Delayed,AMWest_On_Time,AMWest_Delayed
0,0,Los Angeles,497,62,694,117
1,1,Phoenix,221,12,4840,415
2,2,San Diego,212,20,383,65
3,3,San Francisco,503,102,320,129
4,4,Seattle,1841,305,201,61

## Airlines Delayed Comparison

In [3]:
print(df[['Alaska_Delayed', 'AMWest_Delayed']])

   Alaska_Delayed  AMWest_Delayed
0              62             117
1              12             415
2              20              65
3             102             129
4             305              61

#### Based on the comparison it seems that Alaska has less delayed flights than AM West.