# <center> Jeodyshan Obra </center>

# <center> IS 362 Assignment 7 </center>

In [1]:
import pandas as pd
import numpy as np

In [8]:
movie_ratings = pd.read_csv("movieratings.csv", index_col=0)

## Loading ratings by users

In [9]:
movie_ratings.head()

,Jo Jo Rabbit,Frozen 2,Five Feet Apart,Ford v Ferrari,Joker,Spiderman Into the Spidey verse
Alex,4.0,5.0,5,4.0,4.0,4.0
Carl,4.0,2.0,4,5.0,NaN,5.0
Irene,NaN,4.0,5,NaN,3.0,4.0
Jose,NaN,NaN,3,NaN,3.0,NaN
Jan,5.0,4.0,4,5.0,5.0,5.0

### The average ratings for each user

In [11]:
avg_user_ratings = movie_ratings.mean(axis=1)
avg_user_ratings

Alex     4.333333
Carl     4.000000
Irene    4.000000
Jose     3.000000
Jan      4.666667
dtype: float64

### The average ratings for each movie

In [12]:
avg_movie_ratings = movie_ratings.mean()
avg_movie_ratings

Jo Jo Rabbit                       4.333333
Frozen 2                           3.750000
Five Feet Apart                    4.200000
Ford v Ferrari                     4.666667
Joker                              3.750000
Spiderman Into the Spidey verse    4.500000
dtype: float64

### The normalized ratings of each user

In [14]:
normalized_ratings = (movie_ratings - movie_ratings.min()) / (movie_ratings.max() - movie_ratings.min())
normalized_ratings

,Jo Jo Rabbit,Frozen 2,Five Feet Apart,Ford v Ferrari,Joker,Spiderman Into the Spidey verse
Alex,0.0,1.000000,1.0,0.0,0.5,0.0
Carl,0.0,0.000000,0.5,1.0,NaN,1.0
Irene,NaN,0.666667,1.0,NaN,0.0,0.0
Jose,NaN,NaN,0.0,NaN,0.0,NaN
Jan,1.0,0.666667,0.5,1.0,1.0,1.0

### The normalized ratings of the user

In [15]:
avg_normalized_user_ratings = normalized_ratings.mean(axis=1)
avg_normalized_user_ratings

Alex     0.416667
Carl     0.500000
Irene    0.416667
Jose     0.000000
Jan      0.861111
dtype: float64

### The normalized ratings of the movie

In [16]:
avg_normalized_movie_ratings = normalized_ratings.mean()
avg_normalized_movie_ratings

Jo Jo Rabbit                       0.333333
Frozen 2                           0.583333
Five Feet Apart                    0.600000
Ford v Ferrari                     0.666667
Joker                              0.375000
Spiderman Into the Spidey verse    0.500000
dtype: float64

#### Well from the two methods normalization is good for scaling numeric variables in the range of 0 to 1. However, for standardization will only tranform to have a zero mean and unit variance. In other words Normalization will scale your data into a very small interval which would in turn confuse users.